*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1:darkcyan;
  --color2:rgb(197, 123, 180);
  --white:#fff;
  --gradient:  linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  --box-shadow: 5px 20px 5px rgba(201, 69, 69, 0.5);
  --border-radius:10px;
  --grey:#969696;
}

body{
  font-family: Arial;
  min-height: 100vh;
  background-image: var(--gradient);
  color: white;

}

.card{
  background: var(--white);
  width: 300px;
  margin: 30px auto;
  padding: 30px 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

}
.card_title{
  font-size: 30px;
  color: var(--color2);
  margin-bottom: 20px;
}

.container_text{

}

.card_copy{
color: var(--black,#15055c);
font-size: 1.4rem;
margin: 20px auto;
}
.card_cta{
display: inline-block;
text-decoration: none;
padding: 12px 20px;
background-image: var(--gradient);
border-radius: 5px;
color: var(--white);
font-weight: bold;
/* margin-top: 20  px; */
width: 100%;
text-align: center;
border-radius: calc( var(--border-radius, 10px));
}

.card2{
  --black:#000;
  background: var(--grey);
  width: 300px;
  margin: 30px auto;
  padding: 30px 20px;
  box-shadow: var(--box-shadow);
  color:var(--white);
  border-radius: var(--border-radius);


}
/* componente boton */

.button{
display: inline-block;
text-decoration: none;
padding: 12px 20px;
background-image: var(--gradient);
border-radius: 5px;
color: var(--white);
font-weight: bold;
/* margin-top: 20  px; */
width: 100%;
text-align: center;
border-radius: calc( var(--border-radius, 10px));
}

.button__icon{
margin-right: 8px;

}

.button__text{
  color: var(--white);
}

.button-black{
  background: var(--black);
}
